@font-face {
  font-family: MuseoSlab;
  src: url("../fonts/Museo_Slab_500.otf") format("opentype");
}

html {
  background: url(../images/coffee-beans.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  box-sizing: border-box;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  width: 100%;
  height: 100%;
  color: #5C4033;
  font-family: "MuseoSlab";
}

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  // height: 100px;

  #logo {
    display: block;
    margin: 0 auto;
    height: 100px;
  }
}

.menu {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;

  .row {
    display: flex;
    /* Mobile */
    // flex-direction: column;
  }

  .col {
    flex: 1;
  }

  /* Mobile */
  #bottom-row,
  .featured-product {
    // display: none;
  }

  section {
    padding: 1em;

    li {
      white-space: nowrap;
    }

    .items {
      display: flex;
      align-items: flex-start;
    }

    .size {
      font-size: 1em;
    }

    .item,
    .price {
      font-size: 1.25em;
      margin: 0.5em 0;
    }

    .size,
    .price {
      text-align: center;
    }

    &.pastries .price {
      text-align: right;
    }
  }

  .featured-product  {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    .overlay {
      position: absolute;
      bottom: 0;
      left: 0;
      background: rgba(255,255,255,0.5);
      width: 50%;
      padding: 0.5em;
    }
  }

  .logo {
    background-image: url(../images/logo.png);
  }

  .cappuccino {
    background-image: url(../images/cappuccino.jpg);
  }

  .hot-chocolate {
    background-image: url(../images/hot-chocolate.jpg);
  }

  section {
    position: relative;
    margin: 2em;

    &:not(.featured-product) {
      background: white;
    }

    h2 {
      font-family: "Lobster", cursive;
      font-size: 1.75em;
      margin: 0;
    }

    hr {
      border-top: 3px dotted;
    }
  }
}

@media (min-width: 600px) {
  .menu {
    .row {
      flex-direction: row;
    }
  }
}